@import '../../css/variables.scss';

/*
  Table CSS

  - Table colors
  - Menu header (for tables)
  - Note borders are defined in editors.scss

  [Licence]
  Created 13.09.22
  @author John Stewart
*/

.menu-header {
  margin: 0px 20px 0px 0px;
  
  .table-grid-header {
    font-size: 1.2em;
  }

  .table-menu {
    @if $debug-borders {
      border: $debug-borders-width solid rgb(124, 0, 128);
    }
    text-align: center;
    font-size: 1.2em;
    display: flex;
    margin-bottom: 10px;
    max-height: 30px;
    
    .table-menu-item {
      margin-right: 20px;
    }
  }

  .table-menu-item-dropdown {
    margin-left: auto;
    margin-top: 47px;
    z-index: 1;
  }
}


//DELETE BELOW IF react-table IS NO LONGER USED

// .md-table {
//   border-collapse:collapse;
  
//   th {
//     position: sticky;
//     top: 0; /* required for the stickiness */
//   }
// }

// .table-header {
//   font-weight: bold;
//   // border-bottom: 3px solid red;
// }

// #light .md-table {
//   border: 1px solid $light-color;
  
//   th {
//     background-color: $light-table-header-bg;
//     color: $light-table-header-color;
//     border: solid 1px $light-color;
//   }
//   .table-row-0 {
//     background-color: $light-table-row-0;
//   }
//   .table-row-1 {
//     background-color: $light-table-row-1;
//   }
//   td {
//     border: solid 1px $light-color;
//     color: $light-color;
//   }
// }

// #dark .md-table {
//   border: 1px solid $dark-color;
  
//   th {
//     background-color: $dark-table-header-bg;
//     color: $dark-table-header-color;
//     border: solid 1px $dark-color;
//   }
//   .table-row-0 {
//     background-color: $dark-table-row-0;
//   }
//   .table-row-1 {
//     background-color: $dark-table-row-1;
//   }
//   td {
//     border: solid 1px $dark-color;
//     color: $dark-color;
//   }
// }
