@import '../../sys/css/variables.scss';

#light {
  background-color: $light-bg;
  color: $light-color;

  .main-title {
    background-color: $light-navbar-bg;
    color: $light-navbar-item-color;  
    border: 1px solid $light-title-color;
  }

  .main-footer {
    background-color: $light-footer-bg;
    color: $light-footer-color;  
  }

  .busy-spinner {
    color: black;  
  }
}

#dark {
  background-color: $dark-bg;
  color: $dark-color;
  
  .main-title {
    background-color: $dark-navbar-bg;
    color: $dark-title-color;  
    border: 1px solid $dark-title-color;
  }

  .main-footer {
    background-color: $dark-footer-bg;
    color: $dark-footer-color;  
  }

  .busy-spinner {
    color: white;  
    font-weight: bold;
  }
}

.main-layout {
  @if $debug-borders {
    border: $debug-borders-width solid orange;
  }
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: stretch;
  overflow: hidden;
}

.main-header {
  @if $debug-borders {
    border: $debug-borders-width solid rgb(255, 0, 255);
  }
  flex-basis: 20%;
  max-height: 80px;
  margin-bottom: 10px;
  
  .main-subheader {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    .main-title {
      @if $debug-borders {
        border: $debug-borders-width solid blue;
      }
      text-align: center;
      font-size: 1.5em;
      font-family: "Sarabun", sans-serif;
      padding: 0px 100px 5px 100px;
      margin-top: 5px;
      border-radius: 5px;
    }
  }
}

.busy-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -50px;
  width: 100px;
  height: 100px;
}

.main-body {
  @if $debug-borders {
    border: $debug-borders-width solid red;
  }
  min-height: 0;
  flex-basis: 60%;
  flex-grow: 10;
  overflow: auto;
}

.main-footer {
  @if $debug-borders {
    border: $debug-borders-width solid rgb(5, 248, 106);
  }
  flex-basis: 20%;
  scroll-behavior: auto;
  max-height: 17px;
  background-color: white;
  color: #3d3f4d;  
}

