@import './variables.scss';

.main-menu {
  @if $debug-borders {
    border: $debug-borders-width solid green;
  }
  background-color: $navbar-bg;
  text-align: center;
  font-size: 1.2em;
  display: flex;
}

.menu-item button {
  margin-right: 20px;
  border: 0; 
  background-color: $navbar-bg;
  color: $navbar-item-color;
}

.menu-item-right {
  margin-left: auto;
}

.menu-item button:hover{
  background-color:$navbar-item-bg-hover;
}

.menu-item .szh-menu__item {
  text-decoration: none;
}

.menu-item a {
  text-decoration: none;
}

.menu-item-unchecked li {
  padding-left: 1.3em;
}

#dark .szh-menu {
  background-color: $dark-navbar-bg;
}
#dark .szh-menu__item {
  color: $dark-navbar-item-color;
}
#dark .szh-menu__item:hover {
  color: $dark-navbar-item-color-hover;
}
#light .szh-menu__item {
  color: $light-navbar-item-color;
}
