$navbar-bg: #3d3f4d;
$navbar-item-bg:rgb(0,94,184);
$navbar-item-bg-hover:rgb(0,94,184);
$navbar-item-color:#f1f1f1;

$light-bg:white;
$light-color:rgb(29, 28, 28);
$light-navbar-item-color:rgb(29, 28, 28);

$dark-bg:#1e1e1e;
$dark-color:#cccccc;
$dark-navbar-bg:#4b4a4a;
$dark-navbar-item-color:#cccccc;
$dark-navbar-item-color-hover:rgb(29, 28, 28);

$debug-borders: true; 
$debug-borders-width: 5px;
