.editor1 {
  display: flex;
}
.editor1 .editor1-left {
  flex-grow: 0;
}
.editor1 .editor1-right {
  flex: auto;
}

.editor-detail {
  height: 80vh;
  border: 1px solid white;
}

.lang-dialog .lang-dialog-title {
  background-color: #1979CE;
  color: #ffffff;
}
.lang-dialog .lang-dialog-content {
  margin-bottom: 20px;
}
.lang-dialog .dialog-color {
  background-color: #1979CE;
  color: #ffffff;
}
.lang-dialog .dialog-button {
  margin-right: 30px;
}
.lang-dialog button {
  border: 1px solid #1979CE;
}
.lang-dialog button:hover {
  background-color: #ffffff;
  color: #1979CE;
  border: 1px solid #1979CE;
}

.error-dialog {
  max-width: 600px;
  min-width: 600px;
}
.error-dialog .dialog-color {
  background-color: #ce3419;
  color: #ffffff;
}
.error-dialog .dialog-content {
  margin-bottom: 20px;
}
.error-dialog .dialog-text {
  font-weight: bold;
  margin-bottom: 20px;
}
.error-dialog .dialog-button {
  margin-right: 30px;
}
.error-dialog button {
  border: 1px solid #ce3419;
}
.error-dialog button:hover {
  background-color: #ffffff;
  color: #ce3419;
  border: 1px solid #ce3419;
}

.warn-dialog {
  max-width: 600px;
  min-width: 600px;
}
.warn-dialog .dialog-color {
  background-color: #bfa300;
  color: #ffffff;
}
.warn-dialog .dialog-content {
  margin-bottom: 20px;
}
.warn-dialog .dialog-text {
  font-weight: bold;
  margin-bottom: 20px;
}
.warn-dialog .dialog-button {
  margin-right: 30px;
}
.warn-dialog button {
  border: 1px solid #bfa300;
}
.warn-dialog button:hover {
  background-color: #ffffff;
  color: #bfa300;
  border: 1px solid #bfa300;
}

.message-dialog {
  max-width: 600px;
  min-width: 600px;
}
.message-dialog .dialog-color {
  background-color: #1013da;
  color: #ffffff;
}
.message-dialog .dialog-content {
  margin-bottom: 20px;
}
.message-dialog .dialog-text {
  font-weight: bold;
  margin-bottom: 20px;
}
.message-dialog .dialog-button {
  margin-right: 30px;
}
.message-dialog button {
  border: 1px solid #1013da;
}
.message-dialog button:hover {
  background-color: #ffffff;
  color: #1013da;
  border: 1px solid #1013da;
}

.upload-dialog {
  max-width: 600px;
  min-width: 600px;
}
.upload-dialog .dialog-color {
  background-color: #497474;
  color: #ffffff;
}
.upload-dialog .dialog-content {
  margin-bottom: 20px;
}
.upload-dialog .dialog-text {
  font-weight: bold;
  margin-bottom: 20px;
}
.upload-dialog .dialog-button {
  margin-right: 30px;
}
.upload-dialog input[type=file] {
  font-family: "Sarabun";
  font-weight: bold;
  border: 1px solid #497474;
  border-radius: 3px;
  min-width: 550px;
}
.upload-dialog input[type=file]::-webkit-file-upload-button {
  padding: 6px 8px;
  background-color: #497474;
  color: #ffffff;
  border: 1px solid #497474;
  -webkit-transition: 1s;
  transition: 1s;
  line-height: 1.75;
  text-transform: uppercase;
}
.upload-dialog input[type=file]::file-selector-button {
  padding: 6px 8px;
  background-color: #497474;
  color: #ffffff;
  border: 1px solid #497474;
  transition: 1s;
  line-height: 1.75;
  text-transform: uppercase;
}
.upload-dialog button {
  border: 1px solid #497474;
}
.upload-dialog button:disabled {
  background-color: #ffffff;
  color: #3d3f4d;
  border: 1px solid #3d3f4d;
}
.upload-dialog button:hover {
  background-color: #ffffff;
  color: #497474;
  border: 1px solid #497474;
}/*# sourceMappingURL=Utils.css.map */