@import './variables.scss';

.lang-dialog-title {
  background-color: $lang-dialog-title-bg;
  color: $lang-dialog-title-color;
}

.lang-dialog-content {
  margin-bottom: 20px;
}


.error-dialog {
  max-width: $message-dialog-maxwidth;
  
  .dialog-color {
    background-color: $error-dialog-title-bg;
    color: $error-dialog-title-color;
  }

  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  button {
    border: 1px solid $error-dialog-title-bg;
  }

  button:hover {
    background-color: $error-dialog-title-color;
    color: $error-dialog-title-bg;
    border: 1px solid $error-dialog-title-bg;
  }
}

.warn-dialog {
  max-width: $message-dialog-maxwidth;
  
  .dialog-color {
    background-color: $warn-dialog-title-bg;
    color: $warn-dialog-title-color;
  }

  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  button {
    border: 1px solid $warn-dialog-title-bg;
  }

  button:hover {
    background-color: $warn-dialog-title-color;
    color: $warn-dialog-title-bg;
    border: 1px solid $warn-dialog-title-bg;
  }
}

.message-dialog {
  max-width: $message-dialog-maxwidth;
  
  .dialog-color {
    background-color: $message-dialog-title-bg;
    color: $message-dialog-title-color;
  }
  
  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  button {
    border: 1px solid $message-dialog-title-bg;
  }

  button:hover {
    background-color: $message-dialog-title-color;
    color: $message-dialog-title-bg;
    border: 1px solid $message-dialog-title-bg;
  }
}
