
$title-font-family: "Sarabun";

$lang-dialog-title-bg: #1979CE;
$lang-dialog-title-color:#cccccc;
$error-dialog-title-bg: #ce3419;
$error-dialog-title-color:#ffffff;


$light-bg:white;
$light-color:rgb(29, 28, 28);
$light-navbar-bg: #3d3f4d;
$light-navbar-item-color:#f1f1f1;
$light-navbar-item-bg-hover:rgb(0,94,184);
$light-footer-bg: $light-color;
$light-footer-color: $light-bg;

$dark-bg:#1e1e1e;
$dark-color:#cfcbcb;
$dark-navbar-bg:#4b4a4a;
$dark-navbar-item-color:#cccccc;
$dark-navbar-item-bg-hover:rgb(0,94,184);
$dark-footer-bg: #c1bebe;
$dark-footer-color:#4b4a4a;

$debug-borders: false; 
$debug-borders-width: 5px;



// DELETE
$light-table-header-bg: #759ac7;
$light-table-header-color:white;
$light-table-row-0: $light-bg;
$light-table-row-1: #e1e1e1;


// DELETE
$dark-table-header-bg: #303442;
$dark-table-header-color: $dark-color;
$dark-table-row-0: $dark-bg;
$dark-table-row-1: #343333;


