$debug-borders: false; 
$debug-borders-width: 2px;

$title-font-family: "Sarabun";

$message-dialog-maxwidth: 600px;
$message-dialog-minwidth: 600px;
$lang-dialog-title-bg: #1979CE;
$lang-dialog-title-color:#ffffff;
$error-dialog-title-bg: #ce3419;
$error-dialog-title-color:#ffffff;
$warn-dialog-title-bg: #bfa300;
$warn-dialog-title-color:#ffffff;
$message-dialog-title-bg: #1013da;
$message-dialog-title-color:#ffffff;
$selection-dialog-title-bg: #064d0c;
$selection-dialog-title-color:#ffffff;
$caution-bg: #ce3419;
$caution-color:#ffffff;

$disabled-button-bg: #ffffff;
$disabled-button-color:#3d3f4d;

$upload-dialog-maxwidth: 600px;
$upload-dialog-minwidth: 600px;
$upload-dialog-title-bg: #497474;
$upload-dialog-title-color:#ffffff;

$status-changed-bg: rgb(93, 117, 94);
$status-changed-color: white;
$status-delete-bg: rgb(145, 136, 11);
$status-delete-color: white;
$status-invalid-bg: rgb(192, 44, 44);
$status-invalid-color: white;

$light-bg:white;
$light-color:rgb(29, 28, 28);
$light-color-light: #7b7c85;
$light-navbar-bg: #3d3f4d;
$light-navbar-item-color:#f1f1f1;
$light-navbar-item-bg-hover:rgb(0,94,184);
$light-title-color: rgb(29, 28, 28);
$light-footer-bg: $light-color;
$light-footer-color: $light-bg;
$light-border-color: #a6a8b3;
$light-button-bg:#3a8fe4;
$light-button-color:$light-navbar-item-color;
$light-button-bg-hover:#1568BD;
$light-table-menu-tab: #808080;
$light-table-header: #dbd8d8;

$dark-bg:#1e1e1e;
$dark-color:#cfcbcb;
$dark-color-light:#666a6e;
$dark-navbar-bg:#4b4a4a;
$dark-navbar-item-color:#cccccc;
$dark-navbar-item-bg-hover:rgb(0,94,184);
$dark-title-color:#c1bebe;
$dark-footer-bg: #c1bebe;
$dark-footer-color:#4b4a4a;
$dark-border-color: #cfcbcb;
$dark-button-bg:#3a8fe4;
$dark-button-color:$dark-navbar-item-color;
$dark-button-bg-hover:#1568BD;
$dark-table-menu-tab: #808080;
$dark-table-header: #2d2d2d;




// DELETE
// $light-table-header-bg: #759ac7;
// $light-table-header-color:white;
// $light-table-row-0: $light-bg;
// $light-table-row-1: #e1e1e1;


// // DELETE
// $dark-table-header-bg: #303442;
// $dark-table-header-color: $dark-color;
// $dark-table-row-0: $dark-bg;
// $dark-table-row-1: #343333;


