@import '../../css/variables.scss';

.lang-dialog {

  .lang-dialog-title {
    background-color: $lang-dialog-title-bg;
    color: $lang-dialog-title-color;
  }

  .lang-dialog-content {
    margin-bottom: 20px;
  }

  .dialog-color {
    background-color: $lang-dialog-title-bg;
    color: $lang-dialog-title-color;
  }

  .dialog-button {
    margin-right: 30px;
  }

  button {
    border: 1px solid $lang-dialog-title-bg;
  }

  button:hover {
    background-color: $lang-dialog-title-color;
    color: $lang-dialog-title-bg;
    border: 1px solid $lang-dialog-title-bg;
  }
}

.error-dialog {
  max-width: $message-dialog-maxwidth;
  min-width: $message-dialog-minwidth;
  
  .dialog-color {
    background-color: $error-dialog-title-bg;
    color: $error-dialog-title-color;
  }

  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .dialog-button {
    margin-right: 30px;
  }
  
  button {
    border: 1px solid $error-dialog-title-bg;
  }

  button:hover {
    background-color: $error-dialog-title-color;
    color: $error-dialog-title-bg;
    border: 1px solid $error-dialog-title-bg;
  }
}

.warn-dialog {
  max-width: $message-dialog-maxwidth;
  min-width: $message-dialog-minwidth;
  
  .dialog-color {
    background-color: $warn-dialog-title-bg;
    color: $warn-dialog-title-color;
  }

  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .dialog-button {
    margin-right: 30px;
  }

  button {
    border: 1px solid $warn-dialog-title-bg;
  }

  button:hover {
    background-color: $warn-dialog-title-color;
    color: $warn-dialog-title-bg;
    border: 1px solid $warn-dialog-title-bg;
  }
}

.message-dialog {
  max-width: $message-dialog-maxwidth;
  min-width: $message-dialog-minwidth;
  
  .dialog-color {
    background-color: $message-dialog-title-bg;
    color: $message-dialog-title-color;
  }
  
  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .dialog-button {
    margin-right: 30px;
  }

  button {
    border: 1px solid $message-dialog-title-bg;
  }

  button:hover {
    background-color: $message-dialog-title-color;
    color: $message-dialog-title-bg;
    border: 1px solid $message-dialog-title-bg;
  }
}

.upload-dialog {
  max-width: $upload-dialog-maxwidth;
  min-width: $upload-dialog-minwidth;

  
  .dialog-color {
    background-color: $upload-dialog-title-bg;
    color: $upload-dialog-title-color;
  }
  
  .dialog-content {
    margin-bottom: 20px;
  }

  .dialog-text {
    font-weight: bold;
    margin-bottom: 20px;
  }

  .dialog-button {
    margin-right: 30px;
  }
  
  input[type=file] {
    font-family: $title-font-family;
    font-weight: bold;
    border: 1px solid $upload-dialog-title-bg;
    border-radius: 3px;
    min-width: $upload-dialog-maxwidth - 50px;
  }

  input[type=file]::file-selector-button {
    padding: 6px 8px;
    background-color: $upload-dialog-title-bg;
    color: $upload-dialog-title-color;
    border: 1px solid $upload-dialog-title-bg;
    transition: 1s;
    line-height: 1.75;
    text-transform: uppercase;
  }
  

  button {
    border: 1px solid $upload-dialog-title-bg;
  }

  button:disabled {
    background-color: $disabled-button-bg;
    color: $disabled-button-color;
    border: 1px solid $disabled-button-color;
  }

  button:hover {
    background-color: $upload-dialog-title-color;
    color: $upload-dialog-title-bg;
    border: 1px solid $upload-dialog-title-bg;
  }
}