@import '../../css/variables.scss';

/*
  Editor(s) CSS

  - Borders 

  [Licence]
  Created 13.09.22
  @author John Stewart
*/

@mixin status {
  //changed
  .table-grid-status-1 {
    background-color: $status-changed-bg !important;
    color: $status-changed-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-changed-color !important;
    }
  }
  //delete
  .table-grid-status-2 {
    background-color: $status-delete-bg !important;
    color: $status-delete-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-delete-color !important;
    }
  }
  //invalid
  .table-grid-status-9 {
    background-color: $status-invalid-bg !important;
    color: $status-invalid-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-invalid-color !important;
    }
  }
}

#light {

  .MuiSvgIcon-root {
    color: $light-color !important;
  }

  .table-menu {
    button {
      color : $light-button-color;
      background: $light-button-bg;
      border: 1px solid $light-button-bg;
    }

    button:hover {
      color : $light-button-color;
      background: $light-button-bg-hover;
      border: 1px solid $light-button-bg-hover;
    }

    button:disabled {
      color : $light-button-bg;
      background: $light-bg;
      border: 1px solid $light-button-color;
    }
    
    .table-menu-label {
      border: 1px solid $light-button-color;
    }
  }

  .table-grid {

    .MuiDataGrid-columnHeader {
      color: $light-color !important;  
    // font-weight: bold; doesn't work
    }
    .MuiSvgIcon-root {
      color: $light-color !important;
    }
    .MuiDataGrid-footerContainer {
      color: $light-color !important;
    }
    .MuiTablePagination-displayedRows {
      color: $light-color !important;
    }
    .table-grid-valid-true {
      color: $light-color !important;
    }
  }

  @include status;

}

.editor-detail {
  border: 1px solid $light-border-color;
  
  input {
    color: $light-color;
    border: 1px solid $light-border-color;
  }
}


#dark {
  
  .MuiSvgIcon-root {
    color: $dark-color !important;
  }
  
  .editor-detail {
    border: 1px solid $dark-border-color;
  
    input {
      color: $dark-color;
      border: 1px solid $dark-border-color;
    }

    legend span {
      color: $dark-color;
    }
  }

  .table-menu {
    button {
      color : $dark-button-color;
      background: $dark-button-bg;
      border: 1px solid $dark-button-bg;
    }

    button:hover {
      color : $dark-button-color;
      background: $dark-button-bg-hover;
      border: 1px solid $dark-button-bg-hover;
    }

    button:disabled {
      color :$dark-button-bg;
      background: $dark-bg;
      border: 1px solid $dark-button-color;
    }

    .table-menu-label {
      border: 1px solid $dark-button-color;
    }
  }

  .table-grid {

    .MuiDataGrid-columnHeader {
      color: $dark-color !important;  
    }
    .MuiSvgIcon-root {
      color: $dark-color !important;
    }
    .MuiDataGrid-footerContainer {
      color: $dark-color !important;
    }
    .MuiTablePagination-displayedRows {
      color: $dark-color !important;
    }
    .table-grid-valid-true {
      color: $dark-color !important;
    }

    @include status;

    .table-grid-status-0 {
      color: $dark-color !important;  
    }

  }
  
}

.editor-container {
  display: flex;
}

.editor {
  margin: 0px 20px 0px 20px;
  border-radius: 5px;
}

.editor-menu {
  display: flex;
}

.editor-left {
  flex-grow: 0;
}

.editor-right {
  flex: auto;
}

.editor-detail {
  height: 80vh;
  padding: 5px;
  border-radius: 5px;
}

