/*
  Editor(s) CSS

  - Borders 

  [Licence]
  Created 13.09.22
  @author John Stewart
*/
#light .MuiSvgIcon-root {
  color: rgb(29, 28, 28) !important;
}
#light .table-menu button {
  color: #f1f1f1;
  background: #3a8fe4;
  border: 1px solid #3a8fe4;
}
#light .table-menu button:hover {
  color: #f1f1f1;
  background: #1568BD;
  border: 1px solid #1568BD;
}
#light .table-menu button:disabled {
  color: #3a8fe4;
  background: white;
  border: 1px solid #f1f1f1;
}
#light .table-menu .table-menu-tab {
  border: 1px solid #f1f1f1;
  background-color: #808080;
}
#light .table-grid .MuiDataGrid-columnHeaders {
  background-color: #dbd8d8;
}
#light .table-grid .MuiDataGrid-columnHeader {
  color: rgb(29, 28, 28) !important;
}
#light .table-grid .MuiSvgIcon-root {
  color: rgb(29, 28, 28) !important;
}
#light .table-grid .MuiDataGrid-footerContainer {
  color: rgb(29, 28, 28) !important;
}
#light .table-grid .MuiTablePagination-displayedRows {
  color: rgb(29, 28, 28) !important;
}
#light .table-grid .table-grid-valid-true {
  color: rgb(29, 28, 28) !important;
}
#light .table-grid .table-cell-highlight {
  background-color: #ff8484;
}
#light .text-field .MuiFormLabel-root {
  color: rgb(29, 28, 28);
}
#light .editor-info-line {
  color: #7b7c85;
}
#light .table-grid-status-1 {
  background-color: rgb(93, 117, 94) !important;
  color: white !important;
  font-weight: bold;
}
#light .table-grid-status-1 .MuiSvgIcon-root {
  color: white !important;
}
#light .table-grid-status-2 {
  background-color: rgb(145, 136, 11) !important;
  color: white !important;
  font-weight: bold;
}
#light .table-grid-status-2 .MuiSvgIcon-root {
  color: white !important;
}
#light .table-grid-status-9 {
  background-color: rgb(192, 44, 44) !important;
  color: white !important;
  font-weight: bold;
}
#light .table-grid-status-9 .MuiSvgIcon-root {
  color: white !important;
}

.editor-detail {
  border: 1px solid #a6a8b3;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.editor-detail input {
  color: rgb(29, 28, 28);
  border: 1px solid #a6a8b3;
}
.editor-detail .editor-info-line {
  font-size: small;
  text-align: right;
  margin: 0px 5px 0px 0px;
}
.editor-detail .editor-block {
  margin-top: 10px;
}
.editor-detail .editor-block .text-field {
  margin-right: 5px;
}
.editor-detail .editor-block .accordion {
  border-radius: 0px;
}
.editor-detail .editor-block .Mui-expanded {
  border-radius: 5px !important;
}
.editor-detail .editor-table {
  margin-top: auto;
}

#dark .MuiSvgIcon-root {
  color: #cfcbcb !important;
}
#dark .editor-detail {
  border: 1px solid #cfcbcb;
}
#dark .editor-detail input {
  color: #cfcbcb;
}
#dark .editor-detail legend span {
  color: #cfcbcb;
}
#dark .editor-detail .accordion {
  color: #cfcbcb;
  background: #1e1e1e;
  border-bottom: 1px solid #cfcbcb;
}
#dark .editor-detail .editor-block > .Mui-expanded {
  border: 1px solid #cfcbcb !important;
}
#dark .table-menu button {
  color: #cccccc;
  background: #3a8fe4;
  border: 1px solid #3a8fe4;
}
#dark .table-menu button:hover {
  color: #cccccc;
  background: #1568BD;
  border: 1px solid #1568BD;
}
#dark .table-menu button:disabled {
  color: #3a8fe4;
  background: #1e1e1e;
  border: 1px solid #cccccc;
}
#dark .table-menu .table-menu-tab {
  border-top: 1px solid #cccccc;
  border-right: 1px solid #cccccc;
  border-left: 1px solid #cccccc;
  background-color: #808080;
}
#dark .table-grid .MuiDataGrid-columnHeaders {
  background-color: #2d2d2d;
}
#dark .table-grid .MuiDataGrid-columnHeader {
  color: #cfcbcb !important;
}
#dark .table-grid .MuiSvgIcon-root {
  color: #cfcbcb !important;
}
#dark .table-grid .MuiDataGrid-footerContainer {
  color: #cfcbcb !important;
}
#dark .table-grid .MuiTablePagination-displayedRows {
  color: #cfcbcb !important;
}
#dark .table-grid .table-grid-valid-true {
  color: #cfcbcb !important;
}
#dark .table-grid .table-grid-status-1 {
  background-color: rgb(93, 117, 94) !important;
  color: white !important;
  font-weight: bold;
}
#dark .table-grid .table-grid-status-1 .MuiSvgIcon-root {
  color: white !important;
}
#dark .table-grid .table-grid-status-2 {
  background-color: rgb(145, 136, 11) !important;
  color: white !important;
  font-weight: bold;
}
#dark .table-grid .table-grid-status-2 .MuiSvgIcon-root {
  color: white !important;
}
#dark .table-grid .table-grid-status-9 {
  background-color: rgb(192, 44, 44) !important;
  color: white !important;
  font-weight: bold;
}
#dark .table-grid .table-grid-status-9 .MuiSvgIcon-root {
  color: white !important;
}
#dark .table-grid .table-grid-status-0 {
  color: #cfcbcb !important;
}
#dark .table-grid .table-cell-highlight {
  background-color: #742a2a;
}
#dark .text-field .MuiFormLabel-root {
  color: #cfcbcb;
}
#dark .editor-info-line {
  color: #666a6e;
}

.editor-container {
  display: flex;
}

.editor {
  margin: 0px 20px 0px 20px;
  border-radius: 5px;
}

.editor-menu {
  display: flex;
}

.editor-left {
  flex-grow: 0;
}

.editor-right {
  flex: auto;
}

.editor-detail {
  height: 80vh;
  padding: 5px;
  border-radius: 5px;
}

MuiDataGrid-viewport, .MuiDataGrid-row, .MuiDataGrid-renderingZone {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
}

.MuiDataGrid-cell {
  max-height: -webkit-fit-content !important;
  max-height: -moz-fit-content !important;
  max-height: fit-content !important;
  overflow: auto;
  max-height: inherit;
  white-space: initial !important;
  line-height: 16px !important;
  display: flex !important;
  align-items: center;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}
.MuiDataGrid-cell > div {
  max-height: inherit;
  width: 100%;
  white-space: initial;
  line-height: 16px;
}/*# sourceMappingURL=editor.css.map */