@import '../../css/variables.scss';

/*
  Editor(s) CSS

  - Borders 

  [Licence]
  Created 13.09.22
  @author John Stewart
*/

@mixin status {
  //changed
  .table-grid-status-1 {
    background-color: $status-changed-bg !important;
    color: $status-changed-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-changed-color !important;
    }
  }
  //delete
  .table-grid-status-2 {
    background-color: $status-delete-bg !important;
    color: $status-delete-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-delete-color !important;
    }
  }
  //invalid
  .table-grid-status-9 {
    background-color: $status-invalid-bg !important;
    color: $status-invalid-color !important;
    font-weight: bold;

    .MuiSvgIcon-root {
      color: $status-invalid-color !important;
    }
  }
}

#light {

  .MuiSvgIcon-root {
    color: $light-color !important;
  }

  .table-menu {
    button {
      color : $light-button-color;
      background: $light-button-bg;
      border: 1px solid $light-button-bg;
    }

    button:hover {
      color : $light-button-color;
      background: $light-button-bg-hover;
      border: 1px solid $light-button-bg-hover;
    }

    button:disabled {
      color : $light-button-bg;
      background: $light-bg;
      border: 1px solid $light-button-color;
    }
    
    .table-menu-tab {
      border: 1px solid $light-button-color;
      background-color: $light-table-menu-tab;
    }
  }

  .table-grid {

    .MuiDataGrid-columnHeaders {
      background-color: $light-table-header;
    }
    .MuiDataGrid-columnHeader {
      color: $light-color !important;  
    }
    .MuiSvgIcon-root {
      color: $light-color !important;
    }
    .MuiDataGrid-footerContainer {
      color: $light-color !important;
    }
    .MuiTablePagination-displayedRows {
      color: $light-color !important;
    }
    .table-grid-valid-true {
      color: $light-color !important;
    }
    .table-cell-highlight {
      background-color: $light-table-cell-highlight;
    }
  }

  .text-field {
    .MuiFormLabel-root {
      color: $light-color;
    }
  }

  .editor-detail {
    border: 1px solid $light-border-color;
   
    input {
      color: $light-color;
      border: 1px solid $light-border-color;
    }
  }  
  
  .editor-info-line {
    color: $light-color-light;
  }

  @include status;

}

#dark {
  
  .MuiSvgIcon-root {
    color: $dark-color !important;
  }
  
  .editor-detail {
    border: 1px solid $dark-border-color;
   
    input {
      color: $dark-color;
      border: 1px solid $dark-border-color;
    }

    legend span {
      color: $dark-color;
    }

    .accordion {
      color: $dark-color;
      background: $dark-bg;
      border-bottom: 1px solid $dark-border-color;
    }

    .editor-block > .Mui-expanded {
      border: 1px solid $dark-border-color !important;
    }
  }

  .table-menu {
    button {
      color : $dark-button-color;
      background: $dark-button-bg;
      border: 1px solid $dark-button-bg;
    }

    button:hover {
      color : $dark-button-color;
      background: $dark-button-bg-hover;
      border: 1px solid $dark-button-bg-hover;
    }

    button:disabled {
      color :$dark-button-bg;
      background: $dark-bg;
      border: 1px solid $dark-button-color;
    }

    .table-menu-tab {
      border-top: 1px solid $dark-button-color;
      border-right: 1px solid $dark-button-color;
      border-left: 1px solid $dark-button-color;
      background-color: $dark-table-menu-tab;
    }
  }

  .table-grid {

    .MuiDataGrid-columnHeaders {
      background-color: $dark-table-header;
    }
    .MuiDataGrid-columnHeader {
      color: $dark-color !important;  
    }
    .MuiSvgIcon-root {
      color: $dark-color !important;
    }
    .MuiDataGrid-footerContainer {
      color: $dark-color !important;
    }
    .MuiTablePagination-displayedRows {
      color: $dark-color !important;
    }
    .table-grid-valid-true {
      color: $dark-color !important;
    }

    @include status;

    .table-grid-status-0 {
      color: $dark-color !important;  
    }

    .table-cell-highlight {
      background-color: $dark-table-cell-highlight;
    }
  }

  .text-field {
    .MuiFormLabel-root {
      color: $dark-color;
    }
  }

  .editor-info-line {
    color: $dark-color-light;
  }
}

.editor-container {
  display: flex;
}

.editor {
  margin: 0px 20px 0px 20px;
  border-radius: 5px;

  .editor-no-border {
    border: none !important;
  }
}

.editor-menu {
  display: flex;
}

.editor-left {
  flex-grow: 0;
}

.editor-right {
  flex: auto;
}

.editor-detail {
  height: 80vh;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;

  .editor-info-line {
    font-size: small;
    text-align: right;
    margin: 0px 5px 0px 0px;
  }

  .editor-block {
    margin-top: 10px;

    .text-field {
      margin-right: 5px;
    }
    .password-field {
      width: 300px;
      margin-bottom: 10px;
    }
    
    .accordion {
      border-radius: 0px;
  
    }
    .Mui-expanded {
      border-radius: 5px !important;
    }
  }

  .editor-table {
    margin-top: auto;
  }
}


.table-menu {
  button {
    white-space: nowrap
  }

  .table-menu-tab {
    white-space: nowrap
  }
}



//Work around from https://github.com/mui/mui-x/issues/417
//to allow dynamic row height of data grid
MuiDataGrid-viewport,.MuiDataGrid-row,.MuiDataGrid-renderingZone{
  max-height: fit-content!important;
}
.MuiDataGrid-cell{
  max-height:fit-content!important;
  overflow:auto;
  max-height: inherit;
  white-space: initial!important;
  line-height:16px!important;
  display:flex!important;
  align-items: center;
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  >div{ //this is for renderCell component wrapped in div
    max-height: inherit;
    width: 100%;
    white-space: initial;
    line-height:16px;
  }
}