@import url('https://fonts.googleapis.com/css?family=Lato:regular');
@import url('https://fonts.googleapis.com/css?family=Sarabun:bold');

body {
  font-family: "Lato", sans-serif;
  margin: 0px;
  padding: 0px;
}
